<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row double">
						<div class="6u">
							<div class="row collapse-at-2">
								<div class="6u">
									<h3>Categories</h3>
									<ul class="alt">
									<% @categories.first(5).each do |category| %>
									<li><%= link_to category.name,category_questions_path(:category_id=> category.id)%></li>
									<% end%>		
									</ul>
								</div>
								<div class="6u">
									<h3>Suggestions</h3>
									<ul class="alt">
									<% @suggestions.first(5).each do |suggestion| %>
									<li><%= link_to suggestion.name,suggestion_path(:id=> suggestion.id)%></li>
									<% end%>		
									</ul>
								</div>
							</div>
						</div>
						<div class="6u">
							<h2>Our philosophy</h2>
							<p>Cooking isn’t just a matter of putting together ingredients. When you cook, you choose. You choose what to buy, what to eat, and how to nourish yourself, your family, and friends. You choose how to give back to communities, both local and global.</p>
							<!--ul class="icons">
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
							</ul-->
						</div>
					</div>
					<ul class="copyright">
						<li>&copy; All rights reserved.</li>
						<!--li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li-->
					</ul>
				</div>
			</footer>

			
