		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="/">Office Pad</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/pages/about">About</a></li>
						<li><a href="/pages/contact">Contact</a></li>
						<li><a href="right-sidebar.html">Right Sidebar</a></li>
				        <% if user_signed_in? %>
				        	<li>Signed in as <%= current_user.name %>. Not you?
				        	<%= link_to "Sign out", destroy_user_session_path,:method => :delete %></li>
				        <% else %>
				        	<li><%= link_to "Sign in", new_user_session_path,class: "button special" %></li>
				        	
				        <% end %>
					</ul>
				</nav>
			</header>